body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  text-align: center;
  font-size: 36px;
  color: royalblue;
  padding: 20px;
}

nav {
  text-align: center;
  font-size: 30px;
  margin: auto;
  padding: 15px;
  background-color: #222;
}

nav a {
  color: darkblue;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: lightblue;
  text-decoration: underline;
  text-weight: bold;
}

main {
  padding: 30px;
  color: crimson;
}

section {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 15px;
}

footer {
  background-color: #111;
  color: grey;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

#inicio {
  background-color: #01d813;
  color: lightblue;
  border: 10px solid #ffffff;
  margin: 5px;
}

#habilidades-atuais {
  background-color: #d80101;
  color: lightblue;
  border: 10px solid #ffffff;
  margin: 5px;
}

#habilidades-futuras {
  background-color: #d8d801;
  color: lightblue;
  border: 10px solid #ffffff;
  margin: 5px;
}

#cacas-aereos {
  background-color: #d400ff;
  color: lightblue;
  padding: 30px;
  border: 10px solid #ffffff;
  margin: 5px;
}

#ICBM {
  background-color: #052c81;
  color: lightblue;
  padding: 30px;
  border: 10px solid #ffffff;
  margin: 5px;
}

#Links {
  background-color: #ff0202;
  color: lightblue;
  padding: 30px;
  border: 10px solid #ffffff;
  margin: 5px;
}

#contato {
  background-color: #ff0202;
  color: lightblue;
  padding: 30px;
  border: 10px solid #ffffff;
  margin: 5px;
}
